*{
    /* outline: 1px solid gold; */
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    color: rgb(1,48,134) !important;
}

.login-btn {
    border: 0.125rem solid #003087;
    color: #003087;
    padding: 12px 40px;
    font-size: 1.1em;
    line-height: 1.375rem;
    align-items: center;
    white-space: nowrap;
    border-radius: 1.5625rem;
}
.signup-btn {
    border: none;
    color: white;
    background-color: #003087;
    padding: 12px 40px;
    font-size: 1.1em;
    line-height: 1.375rem;
    align-items: center;
    white-space: nowrap;
    border-radius: 1.5625rem;
}

.hero {
    background: linear-gradient(180deg,#001435 43.89%,#003087 102%);
    /* height: 400px; */
}
.left-hero-side {
    margin-left: 130px;
}
.left-hero-side button{
    font-size: 1em;
}
.left-hero-side h1{
    font-weight: 700;
}
.left-hero-side h5{
    font-weight: 700;
}
.content h2 {
  font-weight: 700;
  line-height: 1.2em;
  font-size: 2.1em;
}
.content span .text-secondary {
  font-weight: 700;
  line-height: 1.2em;
  font-size: 2.1em;
}








@media only screen and (max-width: 600px) {
    .hido {
      display: none;
    }
  }
@media only screen and (max-width: 600px) {
    .left-hero-side {
        margin-left: 50px;
        margin-bottom: 50px;
      /* display: none; */
    }
  }